name: Build Game

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # Building the desktop distribution
    # strict validation: fails if code doesn't compile
    - name: Build with Gradle
      run: ./gradlew clean desktop:dist --no-daemon

    # Upload the resulting JAR executable so teammates can download it
    # Accessible in the "Actions" tab of the GitHub repository
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Amazeing-Game-Desktop
        path: desktop/build/libs/*.jar
        retention-days: 5
